{% extends 'layout.html' %}

{% block body %}

<div class="text-center mb-4">
    <h1 class="">Data Science Lab</h1>
    <h1 class="h3 mb-3 font-weight-normal">{{ name }}</h1>

    <p>
        {{ message }}

        The competition is about to begin. The following is a list of important dates.
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">UTC Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Opening</th>
                    <td>{{ open_time }}</td>
                </tr>
                <tr>
                    <th scope="row">Closing</th>
                    <td>{{ close_time }}</td>
                </tr>
            </tbody>
        </table>
    </p>
</div>

{% endblock %}